[Unit]
Description=Konya Ticaret Borsasi Telegram Bot
After=network.target

[Service]
User=f1nch
WorkingDirectory=/home/f1nch/production/konyaticaretborsasi-bot
ExecStart=/home/f1nch/production/konyaticaretborsasi-bot/venv/bin/python -m src "/home/f1nch/.config/konyaticaretborsasi-bot.toml"
Restart=always

[Install]
WantedBy=multi-user.target
