[Unit]
Description=Leakie
After=network.target

[Service]
User=f1nch
WorkingDirectory=/home/f1nch/production/Leakie
ExecStart=/home/f1nch/production/Leakie/venv/bin/python src/bot.py "/home/f1nch/.config/Leakie.toml"
Restart=always

[Install]
WantedBy=multi-user.target
