[Unit]
Description=PseudoContact
After=network.target

[Service]
User=f1nch
WorkingDirectory=/home/f1nch/production/pseudocontact
ExecStart=/home/f1nch/production/pseudocontact/venv/bin/python -m src "/home/f1nch/.config/pseudocontact.toml"
Restart=always

[Install]
WantedBy=multi-user.target
